nav {
  background-image: linear-gradient(to right, #49ca38, #00912c);
  /* background-image: linear-gradient(to right, hsl(103, 100%, 88%), #50ea3c); */
}

nav .container-fluid a {
  color: #ffff;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}

nav .container-fluid div.navbar-collapse a.nav-link {
  color: #ffff;
}

.jumbotron {
  background-image: url(img/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  padding-top: 9rem;
  /* padding-bottom: 5rem; */
  background-color: rgba(0, 0, 0, 0.4);
}

.jumbotron h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.col h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

section#Ekstrakulikuler {
  background-color: #ffff;
}

section#PPDB {
  background-color: #49ca38;
}
